Body{
Background-color:green;
}
.box1 {
  float: left;
 
  height: 250px;
    width:250px;
    background-color: blue;
    margin-left: 200px;
}

.box2 {
  float: right;

  height: 250px;
    width:250px;
    background-color: red;
    margin-right: 200px;
}



.box3 {
    
  float: left;  
   margin-left:100px;
    margin-top:270px;
  height: 250px;
    width:250px;
    background-color: yellow;
}
.box3 p{
    position:absolute;
    top:260px;
}

