H1{
Color:white;
Background-color:red;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    margin-bottom: 0;
}

P{
Background-color:green;
Color:white;
    height: 500px;
    margin: 0 auto;
    padding:10px;
    font-size:12px;
}

.footer{
Color:white;
    height:100px;
Background-color:blue;
    padding:10px;
    font-size: 10px;
}