.main {
        border: 2px dotted purple;
        height: 200px;
        width: 1133px;
        margin:0px 10%;
        position: relative;
        text-align: center;
      }

#bottom{
font-size: 10px;
position: absolute;
        bottom: 0;
        width: 100%;
        padding: 15px 0;
}

.main2{
Color:green;
Font-size:7px;
Text-align:center;
    padding:5px;
}

.super{
    position:relative;
    left:120px;
Color:orange;
Font-size:25px;
    padding:20px;
}

.super sup{
Color:red;
}

.small{
    position:relative;
    right:-1210px;
Color:purple;
Font-size:5px;
    padding: 5px;
}

.small em{
Color:yellow
}