body{
background-position: center;
Background-color: blue;
}
img{
  padding: 10px;
  border-style: dashed;
  border-width: 1px;
  border-color: white;
}

p.redPara{
color: red;
border-style: dashed;
border-width: 1px;
border-color: green;

}