body{
background-position: center;
Background-color: blue;
Border: solid;
margin: 20px 10% 20px 10%
}

img{
  padding: 10px;
  border-style: dashed;
  border-width: 1px;
  border-color: white;
}

.redPara{
color:red;
border-style: dashed;
border-width: 1px;
border-color: green;

}