Body{
background-color:#D6EFFF	

}

.header img{
margin-top:-35px;
Width:150px;
Height:150px;
Border:5px solid black;
Float:left;
}

H1{
font-size:70px;
text-align:center;
Font-family:myFirstFont;
Color:crimson;
}
