 body{
        color:white;
        background-color:white;
} 

#wrap{
        width:1010px;
        margin:0 auto;
        Background-color:blue;
} 

#head{
        text-align:center;
  border:white 5px solid;
}

#head h2{
  font-size:32px;
}

#head p{
  text-align:left;
  font-size:30px;
  position:relative;
  bottom:75px;
  left:15px;
} 

#left{
  color:black;
  font-size:20px;
        float:left;
        width:180px;
        height:500px;
        Background-color:red;
        padding:5px;
  border:white 5px solid;
}

#slogan{
  text-align:center;
  font-size:24px;
  color:black;
  float:right;
  width:790px;
  height:40px;
  Background:yellow;
  padding:5px;
  border:white 5px solid;
}

#e1{
  color:black;
        float:right;
        width:385px;
        height:210px;
        Background:pink;
        padding:5px;
  border:white 5px solid;
}

#some1{
  color:black;
        float:right;
        width:385px;
        height:210px;
        Background:pink;
        padding:5px;
  border:white 5px solid;
}

#sup{
  color:black;
        float:right;
        width:385px;
        height:210px;
        Background:pink;
        padding:5px;
  border:white 5px solid;
}

#psome{
  color:black;
        float:right;
        width:385px;
        height:210px;
        Background:pink;
        padding:5px;
  border:white 5px solid;
}

#footer{
        text-align:center;
        height:50px;
        clear:both;
  font-size:14px;
  border:white 5px solid;
}

h3{
  font-size:18px;
}
li{
  font-size:14px;
}

height:75px;
