Body{
background-color:#D6EFFF	

}
Img{
margin-top:-35px;
Width:150px;
Height:150px;
Border:5px solid black;
Float:left;
}
H1{
font-size:70px;
text-align:center;
Font-family:myFirstFont;
Color:crimson;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #242442;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
}

li a:hover {
  background-color: crimson;
}