Body{
background-color:#D6EFFF	

}

H1{
font-size:50px;
text-align:center;
}
U1{

List-style-type:none;

Margin:0;

Padding:0;

Display:flex;

}



Li {
Color:white;
List-style-type:none;

Margin:0 2vw;

Font-size:3vh;

}

A:hover{

Background-color:red;

}

A{
Color:white;
Text-decoration:none;

Color:black;

Padding:0.4vw;

}

Nav{

Width: 35vw;
Color:white;
Background-color: #242442;

Font-size:14px;

}
footer { 
position: fixed; 
bottom: 0pt; 
left: 0pt; 
background-color: cyan; 
text-align:center; 
}

H2{
font-size:24px;
color:000066;
}

